@model MyWebSite.Data.Models.HomeData

@section styles {
    <link rel="stylesheet" href="~/css/HomeIndex.css" />
}

    <br />
    <br />

<div class="row justify-content-around">

    <div class="col-xl-6 img-div">
        <img class="img-fluid header-image" alt="Alexandros Platanios Image" src="@Url.Content(Model.ImagePath)" />
    </div>

    <div class="col-xl-6 title-div row justify-content-around">
        <div>
            <h2 class="title-text margin-left-25 font_0"><span class>@Model.Title</span></h2>
            <h5 class="margin-left-25">@Model.SubTitle</h5>
            <p class="margin-left-25 home-paragraph">
                @Model.Paragraph
            </p>
        </div>
        <div class="margin-left-25 my-links">
            <a class="link" href="/Home/Resume" target="_top">
                <svg height="150" width="150">
                    <g transform="rotate(180)" style="transform-origin: center;">
                        <polygon class="link-white" points="75 0, 150 150, 0 150" fill="none" stroke="#17539B" stroke-width="1" />
                        <g transform="rotate(180)" style="transform-origin: center;">
                            <text fill="#17539B" font-size="1.3em" font-weight="bold" x="50%" y="31%" style="text-anchor: middle;">Resume</text>
                        </g>
                    </g>
                </svg>
            </a>
            <a class="link" href="/Home/Portofolio" target="_top">
                <svg height="150" width="150">
                    <g>
                        <polygon points="75 0, 150 150, 0 150" fill="#17539B" stroke="none" stroke-width="1"/>
                        <g>
                            <text fill="white" font-size="1.3em" font-weight="bold" x="50%" y="81%" style="text-anchor: middle">Portofolio</text>
                        </g>
                    </g>
                </svg>
            </a>
            <a class="link" href="/Home/Contact" target="_top">
                <svg height="150" width="150">
                    <g transform="rotate(180)" style="transform-origin: center;">
                        <polygon class="link-white" points="75 0, 150 150, 0 150" fill="none" stroke="#17539B" stroke-width="1" />
                        <g transform="rotate(180)" style="transform-origin: center;">
                            <text fill="#17539B" font-size="1.3em" font-weight="bold" x="50%" y="31%" style="text-anchor: middle">Contact</text>
                        </g>
                    </g>
                </svg>
            </a>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/HomeIndex.js"></script>
}