

@section styles{ 
<style>
    .pdf-case {
        background-color: rgba(50, 54, 57, 1);
        border-radius: 11px;
        padding: 3px;
    }
    .pdf {
        width: 100%;
        height: 90vh;
        border-radius: 11px;
    }
</style>
}

<br/>
<h3>Resume</h3>
<hr/>

<div class="pdf-case">
    <embed class="pdf" src="~/CV/CV.pdf#toolbar=1&navpanes=0&scrollbar=0&view=FitH" />
</div>
