@model MyWebSite.Data.Models.CV









@section styles{
    <link rel="stylesheet" href="~/css/Resume.css" />
}




<div class="header" />




<div class="pdf-case">
    @{
        var path = @Url.Content(@Model.Path) + "#toolbar=1&navpanes=0&scrollbar=0&view=FitH";
    }
    <embed class="pdf" src="@path" />
</div>




<div class="bottom" />






@section Scripts{
    <script src="~/js/Resume.js"></script>
}