
<style>
    .fa-facebook {
        color: #0078FF;
    }
    .fa-instagram {
        color: #B900FF;
    }
    .fa-linkedin {
        color: #1DE7FF;
    }
    .social:hover {
        opacity: 0.4 !important;
    }
    .footer {
        min-width: 541px;
        text-align: center;
    }
    @@media screen and (max-height: 990px) {
        .footer {
            margin-left: 11%;
        }
    }
</style>


<footer class="footer">
    <div class="container" style="margin: 0 auto;">
        <div class="row">
            <div class="col-lg-3">
                <strong>Phone</strong><br />
                <i>+30-6949277783</i>
            </div>
            <div class="col-lg-3">
                <strong>Email</strong><br />
                <i>alexandrosplatanios28@gmail.com</i>
            </div>
            <div class="col-lg-3">
                <strong>Follow Me</strong><br />
                <a href="https://www.facebook.com/profile.php?id=100013059701658" target="_black"><i class="fab fa-facebook fa-2x social"></i></a>
                <a href="https://www.instagram.com/alexandros_platanios/" target="_black"><i class="fab fa-instagram fa-2x social"></i></a>
                <a href="https://www.linkedin.com/in/alexandros-platanios-723984203/" target="_black"><i class="fab fa-linkedin fa-2x social"></i></a>
            </div>
            <div class="col-lg-3">
                <div style="margin-top: 11%;">
                    &copy; @DateTime.Now.ToString().Split(" ")[0].Split("/")[2] - Alexandros Platanios
                </div>
            </div>
        </div>
    </div>
</footer>