
<style>
    .fa-facebook {
        color: #0078FF;
    }
    .fa-instagram {
        color: #B900FF;
    }
    .fa-linkedin {
        color: #1DE7FF;
    }
    .social:hover {
        opacity: 0.4 !important;
    }
    .footer {
        min-width: 541px;
        text-align: center;
    }
    @@media screen and (max-height: 990px) {
        .footer {
            padding-left: 11%;
        }
    }
</style>


<footer class="footer">
    <div style=" width: 50%; margin-left: 24%; margin-top: 11%; text-align: center;">
        &copy; @DateTime.Now.ToString().Split(" ")[0].Split("/")[2] - Alexandros Platanios
    </div>
</footer>