



<link rel="stylesheet" href="~/css/AdminSideNavBar.css" />



<div class="sidenav navbar-light bg-light menu">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Cvs" asp-action="Index">CVs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Images" asp-action="Index">Images</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Messages" asp-action="Index">Messages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Projects" asp-action="Index">Projects</a>
        </li>
    </ul>
</div>




<script src="~/js/AdminSideNavBar.js"></script>