<link rel="stylesheet" href="~/css/AdminSideNavBar.css" />

<div class="sidenav navbar-light bg-light card">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="HomeData" asp-action="Index">Home Data</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="ContactData" asp-action="Index">Contact Data</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Cvs" asp-action="Index">CVs</a>
        </li>
        <li class="nav-item" style="display: none;">
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Images" asp-action="Index">Images</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Messages" asp-action="Index">Messages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Projects" asp-action="Index">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Orders" asp-action="Index">Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="MyWebSiteUsers" asp-action="Index">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="MyWebSiteRoles" asp-action="Index">Roles</a>
        </li>
    </ul>
</div>

<script src="~/js/AdminSideNavBar.js"></script>