<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/img/title.ico">
    <title>Alexandros Platanios</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/fontawesome-free-5.15.4-web/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @RenderSection("styles", required: false)

    <style>
        .main {
            padding-bottom: 3%;
        }

        @@media only screen and (min-width: 992px) and (max-width: 1200px) {
            .main {
                margin-bottom: 5%;
            }
        }

        @@media only screen and (max-width: 991px) {
            .main {
                margin-bottom: 43%;
            }
        }
    </style>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

</head>


<body>

    <header>
        <partial name="_NavBar" />
    </header>



    <div class="container main">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <br />

    <partial name="_Footer" />


    
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/fontawesome-free-5.15.4-web/js/all.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
