

<link rel="stylesheet" href="~/css/_NavBar.css">






<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div>
        <svg height="50" width="50">
            @*<circle cx="25" cy="22" r="15" fill="#A9ABAC" />*@
            <polygon points="25 0, 50 50, 0 50" fill="#A9ABAC" stroke="black" stroke-width="1" />
        </svg>
        <a id="title" class="navbar-brand" href="/Home/Index"><h1><b>Software Developer</b></h1></a>
        <br />
        <i id="subtitle">Alexandros Platanios</i>
    </div>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        @*<span class="navbar-toggler-icon"></span>*@
        <i id="down" class="fas fa-chevron-circle-down fa-3x" style="display: none;"></i>
        <i id="up" class="fas fa-chevron-circle-up fa-3x" style="display: none;"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-dark links" href="/Home/Resume">Resume</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark links" href="/Home/Portofolio">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark links" href="/Home/Contact">Contact</a>
            </li>
        </ul>
        @*<partial name="_LoginPartial" />*@
    </div>
</nav>











<script src="~/js/_NavBar.js"> </script>