.nav-item:hover {
    opacity: 0.4 !important;
}

#title {
    font-family: 'Brush Script MT', cursive;
}

#subtitle {
    font-family: 'Brush Script MT', cursive;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

@media only screen and (max-width: 1112px) {
    .navbar-toggler {
        display: block !important;
    }
    a {
        font-size: 100px !important;
        font-weight: 900 !important;
    }
}