.sidenav {
    position: absolute;
    top: 233px;
    left: 11px;
    overflow-x: hidden;
    padding: 1%;
    border-radius: 11px;
}

.sidenav ul {
    margin-top: 7% !important;
}

.sidenav a {
    font-size: 23px;
}

.main {
    margin-left: 160px;
    margin-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 3%;
}

.nav-item:hover {
    opacity: 0.4 !important;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}

@media screen and (max-width: 990px) {
    .main {
        margin-bottom: 77%;
    }
}
