.home-paragraph {
    font-style: italic;
}

img.header-image {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.title-text {
    margin-top: 23%;
    font-size: 100px;
}

.my-links {
    padding-top: 5%;
}

.link {
    fill-opacity: 1;
}
.link:hover {
    fill-opacity: 0.4;
}

a:hover {
    text-decoration: none;
}

.font_0 {
    font: normal normal normal 100px/1.4em worksans-semibold,'work sans',sans-serif;
}

@media only screen and (max-width: 1207px) {
    .title-div {
        padding-left: 3%;
        text-align: center;
    }
    .img-div {
        text-align: center;
    }
    .my-links {
        padding-top: 11%;
    }
    img.header-image {
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
    }
}

@media only screen and (max-width: 770px) {
    .img-div {
        margin-top: 3%;
    }
    .link {
        margin-top: 7%;
    }
    img.header-image {
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
    }
}