body {
    min-width: 539px;
}

.home-paragraph {
    font-style: italic;
}

img.header-image {
    border-radius: 50%;
    margin-top: 23%;
    max-height: 77%;
    max-width: 100%;
}

.title-text {
    margin-top: 23%;
    font-size: 100px;
}

.my-links {
    padding-top: 5%;
}


/* Triangles links */
.link {
    fill-opacity: 1;
}
.link:hover {
    fill-opacity: 0.4;
}
/*.link:hover .link-white:not(:hover) {
    fill: #17539B;
}*/
/* Triangles links */


@media only screen and (max-width: 1207px) {
    .title-div {
        padding-left: 3%;
        text-align: center;
    }

    .img-div {
        text-align: center;
    }

    .my-links {
        padding-top: 11%;
    }
}

a:hover {
    text-decoration: none;
}

.font_0 {
    font: normal normal normal 100px/1.4em worksans-semibold,'work sans',sans-serif;
}
