#projects-table tr td {
    background-color: white !important;
}

#projects-table thead th,
#projects-table tbody,
#projects-table tbody tr,
#projects-table tbody td {
    border-style: none;
}

#projects-table {
    margin-top: 3%;
    border: none;
}

.dataTables_filter {
    display: none;
}

#search-input {
    float: right;
}

div.dataTables_info {
    display: none;
}

div.dataTables_wrapper div.dataTables_paginate {
    float: right;
}

@media only screen and (max-width: 1200px) {
    .details-button {
        display: none;
    }
}