body {
    min-width: 539px;
}

@media only screen and (max-width: 760px) {
    .bottom {
        margin-bottom: 33%;
    }
}

img {
    width: auto;
    height: auto;
    object-fit: fill;
}







.modal {
    padding: 0 !important;
}

.modal .modal-dialog {
    width: 70%;
    max-width: none;
    height: auto;
    /*margin: 0;*/
}

.modal .modal-content {
    height: auto;
    border: 0;
    border-radius: 0;
}

.modal .modal-body {
    overflow-y: auto;
}









#projects-table thead th,
#projects-table tbody,
#projects-table tbody tr,
#projects-table tbody td {
    border-style: none;
}

#projects-table {
    margin-top: 3%;
}


.dataTables_filter {
    display: none;
}

#search-input {
    float: right;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: none !important;
    color: black !important;
    border: none !important;
}



div.dataTables_info {

}

div.dataTables_wrapper div.dataTables_paginate {

}