a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
    overflow-x: hidden;
}

.main {
    z-index: 2;
    padding-bottom: 3%;
}

disabled {
    pointer-events: none;
    cursor: default;
}

.footer-admin {
    text-align: center !important;
    width: 100%;
}

img {
    max-height: 300px;
    max-width: 200px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .main {
        margin-bottom: 5%;
    }
}