a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
  position: relative;
  min-height: 100%;
}

.main {
    z-index: 2;
}

.social {
    color: #17539B;
}
.social:hover {
    opacity: 0.4 !important;
}
.footer {
    text-align: center;
}

disabled {
    pointer-events: none;
    cursor: default;
}


























