body {
    min-width: 539px;
}




a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}




/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}




/* Sticky footer styles
-------------------------------------------------- */
/*html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}
*/
/* Sticky footer styles
-------------------------------------------------- */











html {
  position: relative;
  min-height: 100%;
}












.main {
    z-index: 2;
}









.fa-facebook {
    color: #0078FF;
}

.fa-instagram {
    color: #B900FF;
}

.fa-linkedin {
    color: #1DE7FF;
}

.social:hover {
    opacity: 0.4 !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    min-width: 541px;
    /*background-color: green;*/
}

@media screen and (max-height: 990px) {
    .footer {
        padding-left: 11%;
    }
}







disabled {
    pointer-events: none;
    cursor: default;
}


























