
<style>
    .fa-instagram {
        color: #E80BEB;
        height: 33px;
        width: 33px;
        font-size: 33px;
    }
    .fa-facebook {
        background: #3B5998;
        color: white;
        height: 29px;
        width: 29px;
        font-size: 29px;
        text-align: center;
        padding: 1px;
        border-radius: 3px;
    }
    .fa-facebook:hover {
        background: #0B71EB;
        color: white;
    }
    .fa-linkedin {
        background: #007bb5;
        color: white;
        height: 29px;
        width: 29px;
        font-size: 29px;
        text-align: center;
        padding: 1px;
        border-radius: 3px;
    }
    .fa-linkedin:hover {
        background: #0BBBEB;
        color: white;
    }
    .social {
        text-decoration: none;
    }
    .social:hover {
        text-decoration: none;
    }
    .footer {
        min-width: 541px;
        text-align:center;
    }
</style>


<footer class="footer">
    <div class="container" style="margin: 0 auto;">
        <div class="row">
            <div class="col-lg-3">
                <strong>Phone</strong><br />
                <i>+30-6949277783</i>
            </div>
            <div class="col-lg-3">
                <strong>Email</strong><br />
                <i>alexandrosplatanios28@gmail.com</i>
            </div>
            <div class="col-lg-3">
                <strong>Follow Me</strong><br />
                <a href="#" class="fa fa-instagram social"></a>
                <a href="#" class="fa fa-facebook social"></a>
                <a href="#" class="fa fa-linkedin social" style="margin-left: 3px;"></a>
            </div>
            <div class="col-lg-3">
                <div style="margin-top: 11%;">
                    &copy; @DateTime.Now.ToString().Split(" ")[0].Split("/")[2] - Alexandros Platanios
                </div>
            </div>
        </div>
    </div>
</footer>